*{
	box-sizing: content-box;
}
html {
	overflow-y: scroll;
}
body{
    background-image: url(..//images/bg-body.jpg);
	margin: 0px;
	padding: 0px;
	 font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
}

/* Font face */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.woff') format('woff');
}
/*-------------------------------------------------------*/

/* Clearfix */
.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0
}

* html .clearfix, :first-child+html .clearfix {
	zoom: 1
}

/* Isotope filtering */

/*-------------------------------------------------------*/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope, .isotope .isotope-item {

	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

/*-------------------------------------------------------*/

#container{
	margin: 0 auto;
	width: 860px;
	margin-bottom: 20px;
	margin-top: 30px;
}

#content{
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

/*-------------------------------------------------------*/
.hidden {
	display: none;
}

/* Typography */

/*-------------------------------------------------------*/
h1 {
	font-size: 37px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 12px;
}

strong {
	font-weight: bold;
	color: #333;
}

h3.main-heading {
	margin: 0px 2px 20px 0px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 14px;
	color: #333;
	line-height: 16px;
	font-size: 16px;
	font-weight: 500;
	display: block;
	clear: both;
	position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
 
}

h3.main-heading .now{
    background-color: black !important;
}

h3.main-heading::after {
	content: '';
	width: 40px;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background:#2ec1db;
}

#profile{
    background: #2ec1db;
    background-image: url(../images/header-shadow.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    overflow: hidden;
	width: 100%;
}

.about{
    float: left;
    margin-top: 30px;
    width: 490px;
    margin-left: 20px;
}

.about .profile-pic{
    float: left;
    background: url(..//images/photo-inner3.png) no-repeat;
    width: 112px;
    height: 113px;
    padding: 12px 0 0 19px;
    border-radius: 80px;
}

.about .profile-pic img{
	margin-left: -19px;
    margin-top: -14px;
    height: 127px;
    border-radius: 13px;
}

.about h2 {
	font-weight: 700;
	color: #FFF;
	line-height: 34px;
	margin-top: 8px;
}

.about h3 {
	margin-top: 5px;
	font-size: 18px;
	color: #FFF;
	line-height: 18px;
    font-family: 'Oswald', sans-serif;
}

.about p {
	font-size: 15px;
    margin-top: -10px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.personal-info {
	float: left;
	margin-top: 30px;
	width: 310px;
	min-height: 230px;
	margin-left: -5px;
	background: url(../images/personal-info-sep.png) no-repeat left top;
	padding: 20px 0 0 20px;
}

.personal-info li {
	font-size: 14px;
	margin-bottom: 10px;
	overflow: hidden;
}

.personal-info li label {
	color:#fff;
	float: left;
	padding: 4px 7px;
	font-weight: 600;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.personal-info li span {
	float: right;
	width: 220px;
	padding-top: 4px;
	font-weight: 300;
	color:#fff;
    font-family: 'Roboto Condensed', sans-serif;
}

span.social-text {
    position: absolute;
    right: 0px;
    color: #fff;
    padding: 2px 9px;
    font-size: 22px;
    cursor: pointer;
    top: 10px;
    border-radius: 66px;
    /* height: 30px; */
}

i.fas.fa-share {
    color: #fff !important;
    padding-left: 3px;
}

ul.social-icons {
    opacity: 0;
    top: -1px;
    position: relative;
    transition: all ease 1s;
    z-index: -1;
    left: -7px;
}

ul.social-icons.main {
    opacity: 1;
    top: -1px;
    left: -48px;
}

.pulse-button {
    position: relative;
    width: 30px;
    height: 35px;
    line-height: 15px;
    border: none;
    box-shadow: 0 0 0 0 rgb(101, 100, 100);    
    background-color: #2ec1db;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

.menu {
	height: 100px;
	background-color: #ededed;
	position: relative;
	padding-left: 130px;
	padding-right: 130px;
}

.tabs {
	height: 116px;
	position: absolute;
	margin-top: -14px;
	z-index: 100;
}

.tabs li{
	display: inline;
	float: left;
}

.tabs li > a {
    padding-top: 28px;
    width: 115px;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 15px;
    color: #b9b9b9;
    text-align: center;
    font-weight: 580;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 35px;
    text-decoration: none;
	margin-right: 35px;
}

.tabs li.active{
	background: url('../images/tab-hover.png') no-repeat;
	color: #2ec1db;
}

.tabs li.active a {
	color:#2ec1db;
}

a.tab-profile.active i {
    animation: bounce 2s infinite;
}

.setmargin{
	margin-right: 15px;
}

.setborder{
	border-radius: 6px;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-0px);}
	60% {-webkit-transform: translateY(-10px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-0px);}
	60% {-moz-transform: translateY(-10px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-0px);}
	60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-0px);}
	60% {transform: translateY(-10px);}
}


.tabs li > a > i {
	font-size: 45px;
	font-family: 'icomoon';
	display: block;
	margin-bottom: 5px;
}



#logo{
	float: left;
	overflow: hidden;
	margin-left: 10px;
	display: none;
}

#logo h2 {
	font-size: 30px;
	font-weight: 900;
	color: #444;
	line-height: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

#logo h4 {
	color: #666;
	line-height: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.social-icons {
	float: right;
	margin-top: 18px;
    padding-bottom: 18px;
}

.social-icons li {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 3px;
}

.social-icons li a {
    font-size: 18px;
    display: block;
    padding: 1px 8px;
    background-color: #2ec1db;
    color: #FFF;
}

.caroufredsel_wrapper {
    width: 600px!important;
}

.social-icons li a:hover {
	color:#2ec1db;
}

.social-icons li:last-child {
	margin-right: 0
}

.social-icons .social-text {
    padding: 5px 7px!important;
    height: 26px;
    background-color: #222;
    color: #FFF;
    font-size: 12px;
}

.next, .prev {
	font-family: 'icomoon';
	font-size: 34px;
	color: #eee;
	position: absolute;
	top: 30px;
	width: 40px;
	background-color: #ccc;
	text-align: center;
	cursor: pointer;
}

.next {
	right: 0px;
}

.prev {
	left: 0px;
}

.disabled {
	display: none !important;
}

/* Footer */

/*-------------------------------------------------------*/
footer {
	margin-top: 20px;
	height: 20px;
	font-size: 1px;
}

footer .copyright {
	float: left;
	color: #333;
	padding-left: 6px;
}

/*-------------------------------------------------------*/

/* Footer */

/*-------------------------------------------------------*/
div.footer {
	margin-top: 20px;
	height: 20px;
}

div.footer .copyright {
	float: left;
	color: #333;
	padding-left: 6px;
}